.container {
  width: 300px;
  background-color: #4c8bf5;
  border: 1px solid #000000;
  margin: 100px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 5px 20px 17px -12px rgba(0, 0, 0, 0.38);
  box-shadow: 5px 20px 17px -12px rgba(0, 0, 0, 0.38);
}

.container input {
  font-family: serif;
  height: 40px;
  width: 100%;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.container .output {
  font-family: serif;
  background-color: white;
  font-size: 3rem;
  color: black;
  overflow-wrap: anywhere;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  min-height: 80px;
  -webkit-box-shadow: 5px 20px 17px -12px rgba(0, 0, 0, 0.38);
  box-shadow: 5px 20px 17px -12px rgba(0, 0, 0, 0.38);
}

.container .outbound {
  background-color: pink;
  color: red;
  margin-top: 20px;
  padding: 10px;
  -webkit-box-shadow: 5px 20px 17px -12px rgba(0, 0, 0, 0.38);
  box-shadow: 5px 20px 17px -12px rgba(0, 0, 0, 0.38);
}

h1 {
  text-align: center;
  font-weight: 100;
}
